// estilização feita por https://github.com/breno5g

.header {
  background-color: #70d870;
  text-align: center;
  padding: 40px 0 100px;

  h1 {
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
  }
}
